#set ( $C = '"' )
<html>
	<head>
		<title>Reporte de testing $class.getName()</title>
		<!--link rel="stylesheet" type="text/css" href="report.css" /-->
		<style>
			#header {
				text-align: center;
				background: #ddccff;
			}
			
			#report {
				float: left;
			}
			
			#leftbar {
				float:right;
				background: #eeddff;
			}
			
			div.code pre {
				background: #eeeeee;
			}
		</style>
	</head>
	<body>
		<div id="header"><h1>Reporte de testing $method.getName()</h1></div>
		<div id="report">
			<div class="rptresults">
				<h3>M&eacute;tricas</h3>
				<ul>
					#foreach( $metric in $metrics )
					<li>
						<span class="metricname">
							$metric.getName()
						</span>
						<span class="metricvalue">
							$metric.getValue()
						</span>
					</li>
					#end
				</ul>
			</div>
			<div class="code">
				<h3>C&oacute;digo del m&eacute;todo.</h3>
				<pre>	
## public void asd(){
##	//TODO: Code here
## }
$method.getCode()
				</pre>
			</div>
		</div>
		<div id="leftbar">
			
			<h2>M&eacute;todos de la clase:</h2>
			<ul>
				#foreach( $method in $class.getMethods() )
				<li><a href=$C$method.getName()#[[.html]]#$C>$method.getName()</a></li>
				#end
				<li><a href="index.html">Volver</a></li>
			<ul>
		</div>
		
	</body>
</html>