#set ( $C = '"' )
<html>
	<head>
		<title>Reporte de testing</title>
		<!--link rel="stylesheet" type="text/css" href="report.css" /-->
		<style>
			#header {
				text-align: center;
				background: #ddccff;
			}
			
			#report {
				float: left;
			}
			
			#leftbar {
				float:right;
				background: #eeddff;
			}
			
			div.code pre {
				background: #eeeeee;
			}
		</style>
	</head>
	<body>
		<div id="header"><h1>Reporte de testing</h1></div>
		<div id="report">
			<div class="rptresults">
				<h3>Clases</h3>
				<ul>
					#foreach( $class in $projectReport.getClasses() )
					<li>
						<a href=$C$class.getReportPath()$C>$class.get_class().getName()</a>
					</li>
					#end
				</ul>
			</div>
			<a href="..">Volver</a>
		</div>		
	</body>
</html>
